.DS_Store
tinyTODO.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tinyTODO.xcodeproj/project.xcworkspace/xcuserdata/robert-hein.xcuserdatad/UserInterfaceState.xcuserstate
tinyTODO.xcodeproj/xcuserdata/robert-hein.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
tinyTODO.xcodeproj/xcuserdata/robert-hein.xcuserdatad/xcschemes/xcschememanagement.plist
